{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset=" utf-8" />
    <title>Share Ride</title>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh hw5.css"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'rideshare/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'rideshare/style.css' %}">

    <!--  Include jQuery then bootstrap js.  Use the full version of jQuery (not slim) so it includes Ajax  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="p-3 bg-dark text-secondary shadow-sm">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start">
                <a class="navbar-brand" href="{% url 'rideshare-profile' %}">
                    <img id="icon" src="{% static 'img/icon.png' %}" draggable="false" ondragstart="return false;"
                        oncontextmenu="return false;" class="me-2" alt="icon" width="40" height="40">
                    <strong class="text-white">Project 1</Strong>
                </a>

                <ul class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'rideshare-home' %}" class="nav-link px-2 text-secondary fs-4">Home</a></li>
                    {% if isdriver %}
                        <li><a href="{% url 'rideshare-ridedriver' %}" class="nav-link px-2 text-secondary fs-4">Ride
                                Driver</a></li>
                    {% else %}
                        <li><a href="{% url 'registerdriver' %}" class="nav-link px-2 text-secondary fs-4">Ride
                                Driver</a></li>
                    {% endif %}
                    <li><a href="{% url 'rideshare-rideowner' %}" class="nav-link px-2 text-secondary fs-4">Ride
                            Owner</a></li>
                    <li><a href="{% url 'rideshare-ridesharer' %}" class="nav-link px-2 text-white fs-4">Ride
                            Sharer</a></li>
                    <li><a href="{% url 'rideshare-profile' %}" class="nav-link px-2 text-secondary fs-4">Profile</a></li>
                    <li><a href="{% url 'rideshare-logout' %}" class="nav-link px-2 text-secondary fs-4">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <main id="maindiv">
        <div class="py-4 text-center container">
            <div id="infodiv" class="container py-3 text-white">
                {% comment %}  {% endcomment %}
                <h1>The available rides are</h1>
                
                <div class="container mb-3 msgdiv">
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div id="pwc" class="py-4 text-left container">
                {% for ride in ride_list %}
                {% if ride.share %}
                {% if ride.sepReq == spReq or spReq == '' %}
                    <p>
                        Passenger name: <b>{{ride.name}}</b><br>
                        vehicle type require: <b>{{ride.type}}</b><br>
                        destination: <b>{{ride.address}}</b><br>
                        number of passagers: <b>{{ride.numberOfPassagers}}</b><br>
                        arrival time: <br>
                        &emsp;<b>{{ride.arrivalTime}}</b><br>
                        {%if spReq != ''%}
                            Special Require: <b>{{ride.sepReq}}</b><br>
                        {% endif %}
                        {% if ride.sharer != none %}
                            sharer: 
                            {% for sharer in ride.sharer.all %}
                                {{sharer.name}}<br>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <a href="joinride/{{ride.id}}/?snop={{snop}}">join ride</a>
                    <br>
                {% endif %}
                {% endif %}
                {% endfor %}
                <br><br><a href="{% url 'rideshare-home' %}">back to home</a><br>
            </div>

        </div>
    </main>

    <footer class="text-muted py-4 bg-dark">
        <div class="container">
            <p class="mb-1">Project 1</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>